<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat Room | FlappyGrant Chat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <h1>Chat Room</h1>

    <ul id="msgList"></ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script>
        const socket = io()

        const username = localStorage.getItem("username") || "Guest"

        socket.emit("chat room connection", { username: username })

        window.addEventListener("beforeunload", () => {
            socket.emit("chat room disconnection", { username: username })
        })

        socket.on("chat room connection", ({ username }) => {
            console.log(`${username} joined the chat`)
        })

        socket.on("chat room disconnection", ({ username }) => {
            console.log(`${username} left the chat`)
        })

        setInterval(() => {
            // Read /chatHistory.txt file and for each line in file, create a li with the contents of that line
            const msgList = document.getElementById("msgList")
            msgList.innerHTML = ""

            const chatHistoryFile = "/chatHistory.txt"
            fetch(chatHistoryFile)
                .then(response => response.text())
                .then(data => {
                    const lines = data.split("\n")
                    lines.forEach(line => {
                        const li = document.createElement("li")
                        li.innerHTML = line
                        li.id = "message"
                        msgList.appendChild(li)
                    })
                })
                .catch(error => console.error(`Error: ${error}`))
        }, 500)
    </script>
</body>
</html>
